@import "../../data/libs/reset.css" screen;
@import "../../data/libs/bootstrap-grid.min.css" screen;
@import "../../data/libs/font-awesome.min.css";

/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ledger');

* {box-sizing: border-box;}
html {font-size: 10px;}
html|* > svg {
  transform-origin: 50% 50% 0px;
}

.app {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  background-color: #f5f5f5;
  color: #574d3d;
}

.app-route {
  display: block;
}

.delta {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: none;
}
.delta.delta-left {float: left; z-index: 99;}
.delta.delta-right {right: 0 !important; z-index: 99; left: auto;}
.delta path {fill: #fff; stroke: #fff; stroke-width: 4;}
.delta-grey path {fill: #f5f5f5; stroke: #f5f5f5; stroke-width: 4;}

.topdelta-right {}
.topdelta-right path {fill: #fff; stroke: #fff; stroke-width: 4;}
.topdelta-right--gray path {fill: #f5f5f5; stroke: #f5f5f5; stroke-width: 4;}

.topdelta-left {}
.topdelta-left path {fill: #fff; stroke: #fff; stroke-width: 4;}
.topdelta-left--gray path {fill: #f5f5f5; stroke: #f5f5f5; stroke-width: 4;}